.jumbotron {
  padding-top: 2rem;
  background-color: #c77dff;
}

#visimisi {
  color: white;
  background-color: #c77dff;
}

#kontak {
  color: white;
  background-color: #c77dff;
}

section {
  padding-top: 5rem;
}
